<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SecurityDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SecurityDB_local.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="SecurityDB_local" connectionString="metadata=res://*/NetTelcoAuth.SecurityDB_local.csdl|res://*/NetTelcoAuth.SecurityDB_local.ssdl|res://*/NetTelcoAuth.SecurityDB_local.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\SecurityDB_local.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityDBEntities" connectionString="metadata=res://*/NetTelcoAuth.SecurityDB.csdl|res://*/NetTelcoAuth.SecurityDB.ssdl|res://*/NetTelcoAuth.SecurityDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\SecurityDB_local.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms"></authentication>
    <membership defaultProvider="NetTelcoMemProvider">
      <providers>
        <clear />
        <add name="NetTelcoMemProvider" 
             type="NetTelco.NetTelcoAuth.NetTelcoMembershipProvicer" 
             connectionStringName="SecurityDB" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" 
             applicationName="/" 
          />
      </providers>
    </membership>
    <machineKey decryption="AES" validation="AES" decryptionKey="1C24CE3BE1A780CF11875FA46C53C6DF726D48546548091D60D1E43F1A003595" validationKey="59083030D97C76AF68C9E9C80B080085753AC9133146284AEA5FDEBBF529FDE3" />
  </system.web>
</configuration>