<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SecurityDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SecurityDB_local.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms">

        </authentication>
        <machineKey
            decryption="AES"
            validation="AES"
            decryptionKey="1C24CE3BE1A780CF11875FA46C53C6DF726D48546548091D60D1E43F1A003595"
            validationKey="59083030D97C76AF68C9E9C80B080085753AC9133146284AEA5FDEBBF529FDE3" />
    </system.web>

</configuration>
